[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
innodb_rollback_on_timeout=1
innodb_lock_wait_timeout=600

innodb_doublewrite=1


innodb_flush_log_at_trx_commit=0


# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so


wsrep_cluster_address = "gcomm://{{ groups['galera_cluster'] | map('extract', hostvars, [galera_cluster_interface_fact_var,'ipv4','address']) | list | join(',') }}"
wsrep_cluster_name = {{ galera_wsrep_cluster_name }}

wsrep_sst_method=rsync

#server_id={{ node_number }}


wsrep_node_address = {{ lookup('vars', galera_cluster_interface_fact_var).ipv4.address }}
wsrep_node_name = {{ ansible_hostname }}